<!DOCTYPE html>
<html>
    <head>
        <title> <%= title %></title>
    </head>
    <html>
        <h1>You are On Practice Page!!!!</h1>
        <% if(flag === 'true'){ %>
            <!-- <h1><%= flag %></h1> -->
            <h1>It's True</h1>
        <% }else{ %>
            <h1>It's False</h1>
        <% } %>

    </html>
</html>